aws:
  sqs:
    name: <queue name>
    timeout-seconds: 20
  s3:
    bucket: <name-of-bucket>
    path: osm
    reduced-redundancy: true
  credentials:
    aws_access_key_id = <aws_access_key_id>
    aws_secret_access_key = <aws_secret_access_key>
tiles:
  metro-extract:
    url: https://raw.githubusercontent.com/mapzen/metroextractor-cities/master/cities.json
    zoom-filter: 11
  unique: true
  zoom-start: 0
  zoom-until: 20
  explode-until: 0
  daemon: false
  expired: <path/to/expired/tiles/file>
workers: 4
messages_at_once: 4
tilestache:
  config: <path/to/config/file>
  formats: [json, vtm]
logging:
  # logging.conf on this page:
  # https://docs.python.org/2/howto/logging.html#logging-basic-tutorial
  config: <path/to/logging/config>
redis:
  host: localhost
  port: 6379
  db: 0
  cache-set-key: tilestache.cache
  diff-set-key: tilestache.difflist
