[loggers]
keys=root,process,seed,intersect,drain,enqueue_tiles_of_interest

[handlers]
keys=consoleHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=WARNING
handlers=consoleHandler

[logger_enqueue_tiles_of_interest]
level=INFO
handlers=consoleHandler
qualName=enqueue_tiles_of_interest
propagate=0

[logger_process]
level=INFO
handlers=consoleHandler
qualName=process
propagate=0

[logger_seed]
level=INFO
handlers=consoleHandler
qualName=seed
propagate=0

[logger_intersect]
level=INFO
handlers=consoleHandler
qualName=intersect
propagate=0

[logger_drain]
level=INFO
handlers=consoleHandler
qualName=drain
propagate=0

[handler_consoleHandler]
class=StreamHandler
formatter=simpleFormatter
args=(sys.stdout,)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
