[loggers]
keys=root,process,seed,prune_tiles_of_interest,enqueue_tiles_of_interest,dump_tiles_of_interest,load_tiles_of_interest,wof_process_neighbourhoods,query,consume_tile_traffic,tile_status,stuck_tiles,delete_stuck_tiles,rawr_enqueue,rawr_process,rawr_seed

[handlers]
keys=consoleHandler,jsonConsoleHandler

[formatters]
keys=simpleFormatter,jsonFormatter

[logger_root]
level=WARNING
handlers=consoleHandler

[logger_prune_tiles_of_interest]
level=INFO
handlers=consoleHandler
qualName=prune_tiles_of_interest
propagate=0

[logger_enqueue_tiles_of_interest]
level=INFO
handlers=consoleHandler
qualName=enqueue_tiles_of_interest
propagate=0

[logger_dump_tiles_of_interest]
level=INFO
handlers=consoleHandler
qualName=dump_tiles_of_interest
propagate=0

[logger_load_tiles_of_interest]
level=INFO
handlers=consoleHandler
qualName=load_tiles_of_interest
propagate=0

[logger_process]
level=INFO
handlers=jsonConsoleHandler
qualName=process
propagate=0

[logger_seed]
level=INFO
handlers=consoleHandler
qualName=seed
propagate=0

[logger_wof_process_neighbourhoods]
level=INFO
handlers=consoleHandler
qualName=wof_process_neighbourhoods
propagate=0

[logger_query]
level=DEBUG
handlers=consoleHandler
qualName=query
propagate=0

[logger_consume_tile_traffic]
level=INFO
handlers=consoleHandler
qualName=consume_tile_traffic
propagate=0

[logger_tile_status]
level=INFO
handlers=consoleHandler
qualName=tile_status
propagate=0

[logger_stuck_tiles]
level=INFO
handlers=consoleHandler
qualName=stuck_tiles
propagate=0

[logger_delete_stuck_tiles]
level=INFO
handlers=consoleHandler
qualName=delete_stuck_tiles
propagate=0

[logger_rawr_enqueue]
level=INFO
handlers=consoleHandler
qualName=rawr_enqueue
propagate=0

[logger_rawr_process]
level=INFO
handlers=jsonConsoleHandler
qualName=rawr_process
propagate=0

[logger_rawr_seed]
level=INFO
handlers=consoleHandler
qualName=rawr_seed
propagate=0

[handler_consoleHandler]
class=StreamHandler
formatter=simpleFormatter
args=(sys.stdout,)

[handler_jsonConsoleHandler]
class=StreamHandler
formatter=jsonFormatter
args=(sys.stdout,)

[formatter_jsonFormatter]
format=%(asctime)s %(message)s
datefmt=%Y-%m-%dT%H:%M:%S%z

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
