appdirs==1.4.3
argparse==1.4.0
boto==2.48.0
edtf==2.6.0
enum34==1.1.6
future==0.16.0
hiredis==0.2.0
Jinja2==2.10.1
mapbox-vector-tile==1.2.0
MarkupSafe==1.0
ModestMaps==1.4.7
protobuf==3.4.0
psycopg2==2.7.3.2
pyclipper==1.0.6
pycountry==17.9.23
pyproj==2.1.0
python-dateutil==2.6.1
PyYAML==4.2b4
git+https://github.com/tilezen/raw_tiles@master#egg=raw_tiles
redis==2.10.6
requests==2.25.1
Shapely==1.6.2.post1
six==1.11.0
statsd==3.2.1
StreetNames==0.1.5
ujson==1.35
Werkzeug==0.12.2
wsgiref==0.1.2
zope.dottedname==4.2
