appdirs==1.4.3
argparse==1.4.0
boto==2.49.0
enum34==1.1.6
future==0.16.0
hiredis==0.2.0
Jinja2==3.0.1
MarkupSafe==2.0.1
ModestMaps==1.4.7
protobuf==3.4.0
psycopg2==2.8.6
pyclipper==1.2.1
pycountry==17.9.23
pyproj==3.0.1
python-dateutil==2.6.1
PyYAML==4.2b4
redis==2.10.6
requests==2.25.1
Shapely==1.7.1
six==1.11.0
StreetNames==0.1.5
statsd==3.2.1
ujson==1.35
Werkzeug==0.12.2
zope.dottedname==4.2
edtf==2.6.0
mapbox-vector-tile==1.2.1
git+https://github.com/tilezen/raw_tiles@master#egg=raw_tiles
